<main>
    <hr>

    <div class="display-5">
        <span>heLLo</span>
        <span class="text-muted">heLLo</span>
    </div>
    <div class="display-5 text-end">heLLo</div>
    <div class="display-5">
        <span class="text-lowercase">HeLLo world - </span>
        <span class="text-capitalize">HeLLo world - </span>
        <span class="text-uppercase">HeLLo world</span>
    </div>
    <hr>

    <div>
        <button>button original</button>
        <button class="btn btn-primary">btn-primary</button>
        <div>
            <button class="btn btn-primary">
                <span class="text-uppercase">big text</span>
            </button>
        </div>
        <button class="btn btn-success">save</button>
        <button class="btn btn-danger">delete</button>
    </div>
    <div>
        <button class="btn btn-dark"><span class="text-danger">Ukraine</span></button>
    </div>
    <button class="btn btn-outline-primary">outline button</button>
    <div>
        <button class="btn btn-primary btn-lg">big</button>
        <button class="btn btn-primary btn-sm">small</button>
    </div>
    <hr>

    <div class="card">
        <div class="card-body">
            My content
        </div>
    </div>
</main>