<div>
    <main>

        <h2 class="mt-5">Список сторінок</h2>
        <p class="mt-4">Цей "могутній" проект створений завдяки менторам школи IT_BRAINS.</p>
        <p>В цьому проекті купа сторінок "від простого до складного" (HTML, Handlebars, Bootstrap),
            де в кінці є натяки на будову власного інтернет-магазину.</p>
        <p><i><b>Слава Україні!!! Слава ЗСУ!!!</b></i></p>

        <div class="rom g-5">
            <div class="col-2">
                <a class="btn btn-primary mt-5" href="/summary">Summary</a>
                <a class="btn btn-primary mt-3" href="/skills">Skills</a>
                <a class="btn btn-primary mt-3" href="/education">Education</a>
                <a class="btn btn-primary mt-3" href="/work">Work</a>
                <a class="btn btn-primary mt-3" href="/person">Person</a>
                <a class="btn btn-primary mt-3" href="/bio">Bio</a>
                <a class="btn btn-primary mt-3" href="/program">Program</a>
                <a class="btn btn-primary mt-3" href="/web">Web</a>
                <a class="btn btn-primary mt-3" href="/js">JavaScript</a>
                <a class="btn btn-primary mt-3" href="/car">Car</a>
                <a class="btn btn-primary mt-3" href="/mac">Mac</a>
                <a class="btn btn-primary mt-3" href="/facebook">Facebook</a>
                <a class="btn btn-primary mt-3" href="/task21">Task21</a>
                <a class="btn btn-primary mt-3" href="/task22">Task22</a>
                <a class="btn btn-primary mt-3" href="/task31">Task31</a>
                <a class="btn btn-primary mt-3" href="/shophome">Shophome</a>
                <a class="btn btn-primary mt-3" href="/shopproduct">Shopproduct</a>
                <a class="btn btn-primary mt-3" href="/shopnews">Shopnews</a>
                <a class="btn btn-primary mt-3" href="/shoporder">Shoporder</a>
                <a class="btn btn-primary mt-3" href="/shopcart">Shopcart</a>
                <a class="btn btn-primary mt-3" href="/shopprofile">Shopprofile</a>
                <a class="btn btn-primary mt-3" href="/shopreview">Shopreview</a>
                <a class="btn btn-primary mt-3" href="/shopcatalog">Shopcatalog</a>
            </div>
        </div>

    </main>
</div>