<!DOCTYPE html>
<html>

<head>
    <title>
        Resume_MainPage
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>


    <div class="card mt-5">
        <div class="card-body">
            <div class="row g-2">
                <div class="col-9">
                    <div>Oleg Sapozhnykov</div>
                </div>

                <div class="col-3">
                    <div class="ms-5">Resume project</div>
                </div>
            </div>
        </div>
    </div>


    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
    {{{body}}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>